<!doctype html>
<html lang="pt-BR">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>havagas.com</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>

        {{{ body}}}

        <footer>
            <div class="container-xl px-xl-5 py-5">
                <div class="row d-flex gap-5 justify-content-center flex-lg-row flex-column">
                    <div class="col-lg-3 d-flex justify-content-center flex-column align-items-center gap-3">
                        <a class="navbar-brand" href="#">
                            <img src="/img/havagaspontocom.png" alt="logo" width="70" height="50">
                        </a>
                        <p class="fs-6 text-center fw-bold">A maneira mais fácil de encontrar seu novo emprego</p>
                    </div>
                    <div class="col-lg-3 d-flex justify-content-center flex-column align-items-start gap-1">
                        <p class="fs-4 text-center text-primary fw-bold">Links do site</p>
                        <a class="link-dark link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="/">
                            Home
                        </a>
                        <a class="link-dark link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="/#lastVgs">
                            Últimas vagas adicionadas
                        </a>
                        <a class="link-dark link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="#lastVgs">
                            Ver todas as vagas
                        </a>
                        <a class="link-dark link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="/jobs/add">
                            Adicionar vaga
                        </a>
                        <a class="link-dark link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="/#feedback">
                            Depoimentos
                        </a>
                        <a class="link-dark link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="/#sac">
                            Dúvidas frequentes
                        </a>
                    </div>
                    <div class="col-lg-4 d-flex justify-content-center flex-column align-items-start gap-1">
                        <p class="fs-4 text-center text-primary fw-bold">Siga-nos nas redes sociais</p>
                        <div class="row d-flex justify-content-center">
                            <div class="col d-flex flex-row flex-lg-column gap-lg-0 gap-3">
                                <p><a href="#" class="link-primary link-offset-3 link-underline-opacity-0 link-underline-opacity-0-hover link-opacity-25-hover"><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a></p>
                                <p><a href="#" class="link-info link-offset-3 link-underline-opacity-0 link-underline-opacity-0-hover link-opacity-25-hover"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a></p>
                                <p><a href="#" class="link-primary link-offset-3 link-underline-opacity-0 link-underline-opacity-0-hover link-opacity-25-hover"><i class="fa fa-linkedin" aria-hidden="true"></i> Linkedin</a></p>
                                <p><a href="#" class="link-danger link-offset-3 link-underline-opacity-0 link-underline-opacity-0-hover link-opacity-25-hover"><i class="fa fa-instagram" aria-hidden="true"></i> instagram</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <p class="my-3 pt-3 text-start border border-top border-0 border-secondary">Copyright &copy; 2023 <span class="text-primary">havagas.com</span>. Todos os direitos reservados.</p>
                </div>
            </div>
        </footer>


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/36730e92a3.js" crossorigin="anonymous"></script>
        <script src="/js/scripts.js"></script>
    </body>
</html>