* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

:root {
    --bgColor: #f7bd61;
}

body {
    overflow-x: hidden;
}

.header {
    height: 527px;
    background-color: var(--bgColor);
}

#scrollNavbar {
    top: -76px;
    left: 0;
    background-color: var(--bgColor);
    transition: 0.5s;
    z-index: 10;
}

.search-collapse {
    padding-right: 50px;
    background-color: var(--bgColor);
}


#offcanvasBody:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 220px;
    z-index: -1;
}

#banner2:before {
    content: '';
    position: absolute;
    bottom: 12%;
    left: 0;
    width: 500px;
    height: 30px;
    background-color: var(--bgColor);
    border-radius: 50px;
}

#banner2:after {
    content: '';
    position: absolute;
    top: 55%;
    left: 350px;
    width: 300px;
    height: 50px;
    background-color: var(--bgColor);
    border-radius: 50px;
}

#carousel {
    min-height: 402px;
    border:5px solid var(--bgColor);
    border-radius: 30px;
}

.sac {
    background-color: var(--bgColor);
    min-height: 658px;
}
#accordionItem,
.accordion-button {
    background-color: var(--bgColor);
}

@media (max-width: 991px) {
    #scrollButtons,
    .header-banner,
    .sac-photo {
        display: none;
    }

    #offcanvasBody:before {
        background-color: var(--bgColor);
    }
}

@media (min-width: 992px) {
    .search-collapse {
        display: none;
    }
}

#secondaryNavbar {
    top: 0;
    left: 0;
    background-color: var(--bgColor);
    z-index: 10;
}

.secondary-footer {
    background-color: var(--bgColor);
}

#new {
    transform: rotate(45deg);
    top: 0;
    right: -50px;
}